*-readme.txt
*.elc
*.eld
*.cache
*~
.cask
.emacs.desktop
.emacs.desktop.lock
.places
.yas-compiled-snippets.el
ac-comphist.dat
auto-save-list/
desktop*
elpa/
emacs-backup/
eshell/
image-dired/
tramp
url/
xkcd/
edts/
ido.last
smex-items
amx-items
emojis/*
*.data
*.notes
